
html, body {
	width: 100%;
	height:	100%;
	align-content: center;
}


h2, h1 {
	margin:0;
}

#todo-details {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#wrapper {
	width:calc(0% + 418px);
	min-height:0;
	margin:0 auto 0 auto;
	border:1px #000 solid;
	padding: 14px;
	overflow: auto;
}

#wrapper .seperator{
	width:58px;
	height: 1px;
	background-color: #000;
	margin: 16px auto 5px auto;
}

#wrapper .header {
	width:100%;
	text-align: center;
	height: 7%;
}

#wrapper .input-todo {
	width: 91.707317073170731707317073170732%;
	height: calc(0% + 124px);
	margin: 0 calc(0% + 15px) 0 calc(0% + 15px);
}

#wrapper textarea {
	resize: none;
	height:48px;
	width: 100%;
	margin-top: 1%;
}
#wrapper #todo-list {
	width: 100%;
	height: 66%;
	float: left;
}

#wrapper #todo-list .todo-data-holder {
	width: calc(91.707317073170731707317073170732% - 1px);
	min-height: 82px;
	margin: 0 calc(0% + 15px) calc(0% + 7px) calc(0% + 15px);
	border: 1px #000 solid;
	float: left;
}

#wrapper #todo-list .todo-data-holder .todo-data-col {
	width: 78%;
	height: 100%;	
	float: left;
	
}

#wrapper #todo-list .todo-data-holder .todo-data-col p {
	height: 37px;
	overflow: auto;
	margin: 2% auto 1% auto;
	word-break: break-all;
}

#wrapper #todo-list .todo-data-holder .divider {
	height: 58px;
	width: calc(0% + 1px);
	background-color: #000;
	margin-top: 17px;
	margin-bottom: 12px;
	margin-left: calc(0% + 10px);
	float: left;
}

#wrapper #todo-list .todo-data-holder .todo-cancel-col {
	float: left;
	width:19%;
	min-height: 82px;
	display: flex;	
	align-items: center;
}

#wrapper #todo-list .todo-data-holder .todo-cancel-col button {
	width:38px;	
	height: 40px;
	background-image: url(donald_trump.png);
	background-size:cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    margin-left:28%;
}

#wrapper #todo-list .todo-data-holder .todo-cancel-col span {
	width:100%;
	font-weight: bold;
	margin:	0;
}