/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;

}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#container {
    width: 100%;
    min-height: 768px;
}

#container .tj-section {
    width: 100%;
    display: block;
    height: 670px;
    border: 1px solid #000;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/header/header-img.png');
    background-size: cover;
}

.column {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

#container .tj-section .column .header {
    float: left;
    width: 100%;
    height: 80px;
}

#container .header .column-left-sm {
    float: left;
    width: 130px;
    height: 100%;
}

#container .header .column-right-lg { 
    float: left;
    width: 830px;
    height: 100%;
}

.column-left-sm .logo {
    width: 128px;
    height: 50px;
    margin: 15px 0 0 0;
    display: block;
}

.column-right-lg .menubar {
    float: left;
    width: 100%;
    height: 100%;
}

.column-right-lg .menubar > ul {
    margin: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    text-align: right;
    padding: 30px 0 0 0;
}

.column-right-lg .menubar > ul > li {
    display: inline;
    margin: 0 20px 0 0;
}

.column-right-lg .menubar > ul > li > a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.column-right-lg .menubar > ul > li > a:hover, 
.column-right-lg .menubar > ul > li > a.active {
    color: #00e0d0;
}

#container .row {
    float: left;
    width: 100%;
    height: auto;
}

#container .row .tj-section-top-text {
    float: left;
    width: 100%;
    padding: 110px 0;
    text-align: center;
}

#container .row .tj-section-top-text h1 {
    color: #FFF;
}

#container .row .tj-section-top-text p {
    color: #FFF;
    margin: 0 0 55px 0;
}

.separator {
    width: 50px;
    height: 1px;
    margin: 30px auto;
    display: block;
    border-top: 1px solid #00e0d0; 
}

.button-sm-dark {
    width: 120px;
    height: 40px;
    color: #00e0d0;
    font-size: 12px;
    background: none;
    border-radius: 2px;
    border: 1px solid #00e0d0;
}

.button-sm-dark:hover {
    color: #FFF;
    border: 1px solid #FFF;
}

.carousel-controller {
    width: 70px;
    height: 30px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.carousel-controller li {
    float: left;
    display: inline;
    margin: 0 4px;
}

.carousel-controller li a {
    width: 7px;
    height: 7px;
    display: block;
    border-radius: 50%;
    border: 1px solid #00e0d0;
}

.carousel-controller li a:hover,
.carousel-controller li a.active {
    background-color: #FFF;
    border: 1px solid #FFF;
}

#container .tj-section2 {
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 400px;
    border: 1px solid #000;
    background: #fff;
}

#container .tj-section2 .tj-section2-column-logo{
    float: left;
    width: 230px;
    height: 100%;
    margin-left: 75px;
}

#container .tj-section2-column-logo .rand-img {
    margin-top: 70px;
    
}

#container .tj-section2-column-info {
    width: 555px;
    height: 100%;
    margin-top: 70px;
    margin-left: 100px;
    float: left;
}

#container .tj-section2-column-info h1 {
    margin-top: 0px;
}

#container .tj-section2-column-info p {
    font-size: .8em;
}

#container .tj-section3 {
    width: 100%;
    height: 550px;
    border: 1px solid #000;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/Sliced_Content/Backgrounds/2nd-background-1600x550.png');
    background-size: cover;
}

#container .tj-section3 .column .trying {
    width: 200px;
    height: 200px;
    padding: 200px;
    margin: auto;
    text-align: center;
    color: #fff;
}

#container .tj-section4 {
    width: 100%;
    height: 760px;
    border: 1px solid #000;
    background: #fff;
    margin:0;
    padding:0;
}

#container .tj-section4 .column .row-head {
    height: 100px;
    width:100%;
    text-align: center;
    margin-top:71px;
    margin-bottom: 42px;
}
    
#container .tj-section4 .column .row-head h1 {
    margin-bottom:0;
}

#container .tj-section4 .column .row-head .separator {
    border-top: 1px solid #808080; 
    margin-top: 21px;
}

#container .tj-section4 .column .row-info {
    width:100%;
    height:257px;
    padding-left:32px;
}

 #container .column .col-info {
    padding-top: 40px;
    width:255px;
    text-align:center;
    float: left;
    margin-left:33px;
 }

 #container .column .col-info .col-info-img {
    width: 47px;
    height: 50px;
    display: block;
    margin:auto; 
 }

 #container .column .col-info p {
    font-size: 0.9em;
 }

 #container .tj-section5 {
    width: 100%;
    height: 713px;
    border: 1px solid #000;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/Sliced_Content/Backgrounds/3rd-background-1600x712.png');
    background-size: cover;
    padding-top:68px;
    color: #fff;
    text-align: center;
 }

 #container .tj-section5 .row-section5-info {
    width: 100%;
    height: 307px;
    margin-top: 47px;
    padding-left:10px;
    padding-right:10px;
 }

 #container .tj-section5 .col-section5-info {
    height:100%;
    width: 220px;
    float:left;
    margin-left:20px; 
 }

 #container .tj-section5 .col-section5-info h6 {
    margin-bottom: 10px;
    margin-top: 15px;

 }

#container .tj-section5 .col-sec5-bottom {
    width: 218px;
    height: 78px;
    border: 1px solid #808080;
 }
 #container .tj-section5 .col-section5-info-img1 {
    width: 220px;
    height: 229px;
    background-image: url("../img/Sliced_Content/section5/pink-ranger.jpg");
    background-size: cover;
 }

 #container .tj-section5 .col-section5-info-img2 {
    width: 220px;
    height: 229px;
    background-image: url("../img/Sliced_Content/section5/black-ranger.jpg");
    background-size: cover;
 }

 #container .tj-section5 .col-section5-info-img3 {
    width: 220px;
    height: 229px;
    background-image: url("../img/Sliced_Content/section5/yellow-ranger.jpg");
    background-size: cover;
 }

 #container .tj-section5 .col-section5-info-img4 {
    width: 220px;
    height: 229px;
    background-image: url("../img/Sliced_Content/section5/yuuge.jpg");
    background-size: cover;
 }

#container .tj-section5 .row-section5-foot {
    width: 100%;
    height: 219px;
    padding-top: 70px;
}

#container .tj-section5 .row-section5-foot p {
    margin-bottom:27px;
}

#container .tj-section6 {
    width: 100%;
    background: #fff;
    padding-top: 70px;  
}

#container .tj-section6 .sec6-row1{
    width: 100%;
    height: 88px;
    padding-left: 10px;
}

#container .tj-section6 .sec6-row1 h3 {
    margin-top:0px;
    margin: auto 0;
    float:left;
}

#container .tj-section6 .sec6-row1 .small-wrap {
    float:right;
}

#container .tj-section6 .sec6-row2 {
    width: 100%;
    height: 400px;
    background-image: url(../img/Sliced_Content/grey-grid.png);
    background-size: cover;
}

#container .tj-section6 .sec6-row3 {
    width: 140px;
    height: 40px;
    padding: 70px 452px;
}

#container .tj-section6 .sec6-row3 .button-sm-dark {
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}