html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    padding: 10%;

}

#container {
    width: 100%;
    min-height: 768px;
    text-align: center;
    position: relative;
}

.tower1 {
	width: 90px;
	height: 125px;
	float: left;
	position: relative;
}

.tower2 {
	width: 90px;
	height: 125px;
	float: left;
	position: relative;
}

.tower3 {
	width: 90px;
	height: 125px;
	float: left;
	position: relative;
}

.wrapper1 {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background-color: #000;
	margin: 5px auto auto auto;
}
.Disk2 {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 20px;
	height: 10px;
	background-color: #000; 
	margin: 20px auto auto auto; 
}
.Disk3 {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 30px;
	height: 10px;
	background-color: #000;
	margin: 35px auto auto auto; 
}
.Disk4 {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 40px;
	height: 10px;
	background-color: #000; 
	margin: 50px auto auto auto; 
}
.Disk5 {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 10px;
	background-color: #000;
	margin: 65px auto auto auto; 
}
.Disk6 {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 60px;
	height: 10px;
	background-color: #000;
	margin: 80px auto auto auto;
}
.Disk7 {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 70px;
	height: 10px;
	background-color: #000;
	margin: 95px auto auto auto; 
}
.Disk8 {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 80px;
	height: 10px;
	background-color: #000;
	margin: 110px auto auto auto; 
}