<div class="session-wrapper container" id="">
    <div class="row head">
        <div class="session-head">
            <div class="col-xs-1">
                <div class="row">
                    <input class="session-title col-xs-12">
                </div>
            </div>
            <div class="col-xs-1">
                <div class="row">
                    <div class="tab-number">
                        <h1 class="text-center"><small></small></h1>
                    </div>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="row">
                    <div class="col-md-12">
                        <h4><small>created at!!</small></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-xs-3"><a href="#" class="session-options"><small>click</small></a></div>
                    <div class="col-md-2 col-xs-3"><a href="#" class="session-options"><small>click</small></a></div>
                    <div class="col-md-2 col-xs-3"><a href="#" class="session-options"><small>click</small></a></div>
                    <div class="col-md-2 col-xs-3"><a href="#" class="session-options"><small>click</small></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row body">
        <div class="link-holder">
        </div>
        <button id="start-session">Begin Sessioning</button>
    </div>
</div>
